
name: gitleaks-action
on: [pull_request, push, workflow_dispatch]
jobs:
  scan:
    name: gitleaks-action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - run: wget https://raw.githubusercontent.com/geet-h17/tester/main/twilio-gitleaks.toml
      - uses: gitleaks/gitleaks-action@demo
        env:
          GITLEAKS_CONFIG: twilio-gitleaks.toml

  process_report:
  name: Process Report
  if: always()
  needs: [scan]
  runs-on: ubuntu-latest
  steps:
    - name: Download Report
      uses: actions/download-artifact@v3
      with:
        name: gitleaks-results.sarif

    - name: Show downloaded files
      run: ls -R

    - name: List secret locations
      run: |
        jq --raw-output \
        '.runs[].results[].locations[].physicalLocation | "\(.artifactLocation.uri):\(.region.startLine)"' \
        "gitleaks-results.sarif"
